html,body{
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  overflow: hidden;
  width: 100%;
}

.showlars {
 transition: all 0.7s ease-in-out;
 position: absolute;
 left: 0;
 bottom: 0;
}

.nolars {
  position: absolute;
  transition: all 1.2s ease-in-out;
  left: -800px;
  bottom:0;
}

.toggleButton {
  z-index: 1;
  position: absolute;
  top:50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

.bubbleContainer{
  text-align: center;
  position: absolute;
  left: 220px;
  bottom: 260px;
  transition: all 0.9s ease-in-out;
  opacity: 1;
}

.hiddenBubbleContainer{
  position: absolute;
  left: -500px;
  bottom: 260px;
  transition: all 1.1s ease-in-out;
  opacity: 0;
}

.bubble{
  text-align: center;
}

.bubbleImage{
  width: 450px;
  position: relative;
  float:left;
}

.bubbleText{
  left: 0;
  width: 400px;
  position:absolute;
  text-align:center;
  top: 120px;
  padding-left: 25px;
  padding-right: 25px;
}

@media only screen and (max-width: 800px) {

  .bubbleImage{
    display: none;
  }

  .bubbleContainer{
    width: 100%;
    text-align: center;
    position: inherit;
  }

  .hiddenBubbleContainer{
    text-align: center;
    position: inherit;
    width: 100%;
    padding: auto;
  }

  .bubbleText{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    padding: 0px;
  }
}
